{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="main">
            <form action="" method="post">
                {% csrf_token %}
                <div class="options">
                    <label for="Class">Class</label>
                    <select name='batch' id = "ClassDropdown" onchange="loadLabs()">
                        <option value ="" disabled selected>Select Class</option>
                        {% for batch in batches %}
                        <option value="{{ batch }}">{{ batch }}</option>
                        {% endfor %}
                    </select>
                    <label for="Class">Lab</label>
                    <select name="lab" id = "LabDropdown">
                        <option value ="" disabled selected>Select Lab</option>
                    </select>
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
            {% if roll_list %}
            <table id="printTable">
                <thead>
                    <tr>
                        <th>Roll No</th>
                        {% for name in exp_names_list %}
                            <th>{{name}}</th>
                        {% endfor %}
                        <th>Print</th>
    
                    </tr>
                </thead>
                <tbody id="tableBody">
                {% for roll in roll_list %}
                <tr>
                        <td>{{roll}}</td>
                        {% %}
                    </tr>
                {% endfor %}                       

                </tbody>
            </table>
            {% endif %}
        </div>
        <script>
            function loadLabs(){
                var batch = document.getElementById("ClassDropdown").value;
                fetch(`labs/?batch=${batch}`,{method:'GET',})
                .then(res => res.json())
                .then(data => {
                    document.getElementById("LabDropdown").innerHTML = '';
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("LabDropdown").innerHTML += `<option value="${data[i]['lab_name']}">${data[i]['lab_name']}</option>`
                    }
                })
            }
            console.log(`{{experiments}}`)
        </script>
    </div>
{% endblock content %}
