{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="main">
            <form id="myForm" action="" method="post">
                {% csrf_token %}
                <div class="options">
                    <label for="Class">Class</label>
                    <select name='batch' id="ClassDropdown" onchange="loadLabs()">
                        <option value="" disabled selected>Select Class</option>
                        {% for batch in batches %}
                            <option value="{{ batch }}">{{ batch }}</option>
                        {% endfor %}
                    </select>
                    <label for="Class">Lab</label>
                    <select name="lab" id="LabDropdown">
                        <option value="" disabled selected>Select Lab</option>
                    </select>
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
            {% if experiments_json %}
            <table id="printTable">
                <thead>
                    <tr>
                        <th>Roll No</th>
                        {% for name in exp_names_list %}
                            <th>{{name}}</th>
                        {% endfor %}
                        <th>Print</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
        <script>
                document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("myForm").addEventListener("submit", function(event) {
                    event.preventDefault(); // Prevent the default form submission
                    renderTable(); // Call the function to render the table after form submission
                });
            });

            function loadLabs(){
                var batch = document.getElementById("ClassDropdown").value;
                fetch(`labs/?batch=${batch}`,{method:'GET',})
                .then(res => res.json())
                .then(data => {
                    document.getElementById("LabDropdown").innerHTML = '';
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("LabDropdown").innerHTML += `<option value="${data[i]['lab_name']}">${data[i]['lab_name']}</option>`
                    }
                })
            }
            
            function renderTable() {
                console.log(`{{experiments_json}}`)
                var roll_list = JSON.parse(`{{ roll_list|safe }}`);
                var experiments = JSON.parse(`{{ experiments_json|safe }}`); //experiments is a JSON object
                const table_body = document.getElementById("tableBody");
                table_body.innerHTML = '';
                console.log(roll_list)
                for (let i = 0; i < roll_list.length; i++ ){
                    const tr = document.createElement("tr");
                    console.log(experiments[i])
                    const td = document.createElement("td");  
                    td.innerHTML = roll_list[i].toString();  
                    tr.appendChild(td);
                    for (var key in experiments[i]) {
                        if (experiments[i].hasOwnProperty(key)) {

                            const td1 = document.createElement("td");
                            if (experiments[i][key][0]){
                                td1.innerHTML = `<a href="${experiments[i][key][1]}">Print</a>`;
                            }
                            else{
                                td1.innerHTML = `<h3>NULL</h3>`
                            }
                            tr.appendChild(td1);
                            // console.log(key + ": " + experiments[i][key]);
                        }
                    }
                    table_body.appendChild(tr);
                }
            }
       </script>

{% endblock content %}




