{% extends "users/base.html" %}
  {% block content %}   
  
    <div class="content-section">
    
        <div class="main">
            
            <img src="../../static/logouticon.svg" alt="" id="logoutBtn" class="logout">
            <form id="myForm" action="/users/home1" method="post">
                {% csrf_token %}
                <div class="options">
                    <!-- <label for="Class">Class</label> -->
                    <select name='batch' id="ClassDropdown" onchange="loadLabs()">
                        <option class="optionList" value=""  selected>Select Class</option>
                        {% for batch in batches %}
                            <option value="{{ batch }}" class="optionList">{{ batch }}</option>
                        {% endfor %}
                    </select>
                    <!-- <label for="Class">Lab</label> -->
                    <select name="lab" id="LabDropdown">
                        <option value="" disabled selected >Select Lab</option>
                    </select>
                    <button type="submit" class="submitbtn">Submit</button>
                </div>
            </form>
            {% if experiments_json %}
            <table id="printTable">
                <thead class="table_header">
                    <tr>
                        <th>Roll No</th>
                        {% for name in exp_names_list %}
                            <th>{{name}}</th>
                        {% endfor %}
                        <th>Print</th>
                        
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
        <script>
            // JavaScript
            document.getElementById("logoutBtn").addEventListener("click", function() {
                // Redirect to the logout page
                window.location.href = "{% url 'login' %}"; 
            });

            function markFilesAsPrinted(id) {
                     // Retrieve the CSRF token from the cookie
                    const csrftoken = getCookie('csrftoken');
                    // Define the data to be sent
                    const data = { file_ids: id };

                    // Define the fetch options
                    const options = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken // Include the CSRF token in the request headers
                        },
                        body: JSON.stringify(data)
                    };

                    // Send the request
                    fetch('/users/mark_files_as_printed/', options)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            console.log('Files marked as printed successfully');
                        })
                        .catch(error => {
                            console.error('Error marking files as printed:', error);
                        });
                }

        // Function to retrieve the CSRF token from cookies
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.startsWith(name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }



            function loadLabs(){
                var batch = document.getElementById("ClassDropdown").value;
                fetch(`labs/?batch=${batch}`,{method:'GET',})
                .then(res => res.json())
                .then(data => {
                    document.getElementById("LabDropdown").innerHTML = '';
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("LabDropdown").innerHTML += `<option  value="${data[i]['lab_name']}" class = "optionList">${data[i]['lab_name']}</option>`
                        
                    }
                })
            }
            renderTable();
            function renderTable() {
                console.log(`{{experiments_json}}`)
                if (`{{experiments_json}}`){
                    
                    var roll_list = JSON.parse(`{{ roll_list|safe }}`);
                    var experiments = JSON.parse(`{{ experiments_json|safe }}`); //experiments is a JSON object
                    const table_body = document.getElementById("tableBody");
                    table_body.innerHTML = '';
                    console.log(roll_list)
                    for (let i = 0; i < roll_list.length; i++ ){
                        const tr = document.createElement("tr");
                        console.log(experiments[i])
                        const td = document.createElement("td");  
                        td.innerHTML = roll_list[i].toString();  
                        td.classList.add('rollno');
                        tr.appendChild(td);
                        for (var key in experiments[i]) {
                            if (experiments[i].hasOwnProperty(key)) {
                                const td1 = document.createElement("td");
                                if (experiments[i][key][2]){
                                    // printed
                                    <!-- For tick mark =>  &#10004-->
                                    td1.innerHTML = `<img src="../../static/print.svg" alt="" height="30px" width="30px">`

                                }
                                else if (experiments[i][key][0]){
                                    // uploaded to print
                                    const url = "http://127.0.0.1:8000/" + `${experiments[i][key][1]}`;
                                    const id = `${experiments[i][key][3]}`
                                    td1.innerHTML = `<button class = "printbtn" onclick=print('${url}','${id}') >Print</button>`;
                                }
                                else{
                                     // not uploaded
                                    
                                    td1.innerHTML = `<img src="../../static/notUploaded.svg" alt="" height="30px" width="30px">`
                                }
                                td1.classList.add('exp');
                                tr.appendChild(td1);
                                // console.log(key + ": " + experiments[i][key]);
                            }
                        }
                        const td2 = document.createElement("td");
                        td2.innerHTML = `<button class = "printallbtn" onclick=print_student('${i}')>Print all</button>`;
                        tr.appendChild(td2)
                        table_body.appendChild(tr);
                    }
                }
            }
            function print(url, id) {
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.text();
                    })
                    .then(fileContent => {
                        var printWindow = window.open('', '_blank');
                        printWindow.document.write('<pre>' + fileContent + '</pre>');
                        printWindow.document.close();
                        printWindow.print();

                        // Function to execute markFilesAsPrinted after confirmation
                        function executeMarkFilesAsPrinted() {
                            var printSuccessful = confirm("Was the print successful?");
                            if (printSuccessful) {
                                markFilesAsPrinted(id);
                                location.reload();
                            }
                        }

                        // Delay the execution of executeMarkFilesAsPrinted
                        setTimeout(executeMarkFilesAsPrinted, 500); // Adjust the delay time as needed
                    })
                    .catch(error => {
                        console.error('There was a problem with fetching the file:', error);
                    });
            }

            function print_student(i){
                var filePromises = [];
                var experiments = JSON.parse(`{{ experiments_json|safe }}`)
                for (var key in experiments[i]) {
                    if (experiments[i].hasOwnProperty(key)) {
                    // Check if the experiment belongs to the given studentId
                        if (experiments[i][key][0]) {
                            const url = "http://127.0.0.1:8000/" + `${experiments[i][key][1]}`;
                            filePromises.push(fetchFileContent(url));
                        }
                    }
                }
                Promise.all(filePromises)
                .then(fileContents => {
                    var combinedContent = fileContents.join('\n\n');
                    printContent(combinedContent);
                    function executeMarkFilesAsPrinted() {
                            var printSuccessful = confirm("Was the print successful?");
                            if (printSuccessful) {
                               for (var key in experiments[i]) {
                                    if (experiments[i].hasOwnProperty(key)){
                                        markFilesAsPrinted(experiments[i][key][3]);
                                    }
                               }
                                location.reload();
                            }
                    }
                    setTimeout(executeMarkFilesAsPrinted, 1000); // Adjust the delay time as needed

                    
                })
                .catch(error => {
                    console.error('There was a problem with fetching the file content:', error);
                });
            }
            function fetchFileContent(url) {
                return fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .catch(error => {
                    console.error('There was a problem with fetching the file:', error);
                    return ''; // Return empty string to avoid breaking Promise.all
                });
            }
            function printContent(content) {
                var printWindow = window.open('', '_blank');
                printWindow.document.write('<pre>' + content + '</pre>');
                printWindow.document.close();
                printWindow.print();
            }

       </script>
       

{% endblock content %}




