/* login.css */

/* Style for the header */
body {
    box-sizing: border-box;
    color: #000000;
    background: url("../filepic.webp");
    width: 100%;
    height: 100%;
    background-size: cover;
    font-size: 16px;
    /* background-position: center; */
}
.site-header {
    background-color: #333; /* Dark background color */
    padding: 20px 0; /* Padding top and bottom */
}

.navbar {
    padding: 0 15px; /* Add padding to the navbar */
}

.header {
    display: flex; /* Use flexbox for layout */
    justify-content: flex-end; /* Align items to the right */
}

.header a {
    color: white; /* White text color */
    margin-left: 10px; /* Add space between links */
}

/* Style for the content section */
.content-section {
    margin-top: 100px; /* Add space from the top */
    padding: 30px 20px; /* Add padding */
}

.form-group {
    margin-block: 20px; /* Add space between form elements */
    
}

/* Style for the login form */
form {
    max-width: 400px; /* Set maximum width */
    margin: 0 auto; /* Center the form horizontally */
}

fieldset {
    border: 1px solid #ddd; /* Add a border around the fieldset */
    padding: 20px; /* Add padding */
}

legend {
    font-size: 1.5em; /* Increase font size */
    font-weight: bold; /* Add bold font weight */
    color: #333; /* Dark text color */
    margin-bottom: 0px; /* Add space below the legend */
}

/* Style for the login button */
.btn-primary {
    background-color: hsl(210, 94%, 38%); /* Blue button color */
    border-color: #007bff; /* Blue border color */
    padding: 4px 10px;
    border-radius: 5px; 
}

.btn-primary:hover {
    background-color: #0a4064; /* Darker blue color on hover */
    border-color: #0a4064; /* Darker blue border color on hover */
    cursor: pointer;
}

/* Style for the footer */
.border-top {
    
    padding-top: 4px; /* Add padding */
    margin-top: 10px; /* Add space */
    text-align: center; /* Center text */
}
.btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}
.text-muted {
    color: #e3e8ed; /* Gray text color */
    font-size:14px;
}
.text-muted a{
    color: hsl(210, 89%, 50%); /* Gray text color */
    text-decoration: none;
}